.container {
    margin: 30px auto;
    width: 500px;
    height: 200px;
    box-sizing: border-box
}
.someClass {

}

.d2 {
    background: #DABB52;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.d2 button {
    border: none;
    outline: none;
}
.d2
.input {
    width: 73%;
    height: 42px;
    padding-left: 20px;
    border-radius: 25px 0 0 25px ;
    background: #F9F0DA;
    outline: none;
}
.d2 button {
    height: 44px;
    width: 18%;
    background: #F15B42;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.errorSpan {
    margin-left: 25px;
    color: red;
}
.inputError {
    border: 1px solid red;
}
.inputNorm {
    background: #F9F0DA;
    border: none;
}

.totalUsers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}